@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  width: 100vw;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(0, 59, 149);
  padding: 5px 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo {
  height: 40px;
  width: auto;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 5px;
}

form {
  background-color: rgb(0, 59, 149);
  padding-bottom: -18px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100vw;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.search-area {
  display: flex;
  align-self: center;
  background-color: rgb(0, 59, 149);
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search {
  background-color: rgb(0, 59, 149);
  padding-bottom: -20px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100vw;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

input {
  padding: 1rem;
  border: 5px solid rgb(255, 183, 0);
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: -30px;
  margin-top: 10px;
  font-size: 16px;
  color: #282c34;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

input:hover {
  box-shadow: 0 4px 8px rgba(255, 183, 0, 0.5);
}

textarea {
  padding: 5px;
  border: 5px solid rgb(255, 183, 0);
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: -30px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

span {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  margin-right: 20px;
}

button {
  padding: 1.1rem 2rem;
  border: 5px solid rgb(255, 183, 0);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #007bff;
  margin-top: 10px;
  height: 66px;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-button {
  padding: 1.1rem 2rem;
  border: 5px solid rgb(255, 183, 0);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #007bff;
  margin-bottom: -30px;
  margin-top: 10px;
  height: 66px;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #006ae1;
}

h2 {
  font-weight: 700;
  margin: 10px;
  font-size: large;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 50px;
  min-height: 300px;
  gap: 0.5rem;
}

li {
  border-radius: 12px;
  position: relative;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  border-color: #d0d1d3;
  width: 600px;
  margin-right: 5px;
  flex-shrink: 0;
}

li p {
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 7px;
  width: fit-content;
  font-size: 14px;
}

.list-item {
  border-radius: 20px;
  height: 10px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d1d3;
  margin: 10px;
  min-height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hotel-item {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d1d3;
  margin: 10px;
  min-height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-detail {
  border-width: 1px;
  border-style: solid;
  border-color: #d0d1d3;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 50;
  background-color: white;
}

.booking-card {
  border-radius: 20px;
  padding: 10px 20px 40px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d1d3;
  margin: 10px 10px 30px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

select {
  margin-left: 10px;
  margin-right: 20px;
  height: 60px;
  margin-bottom: -30px;
  margin-top: 10px;
  font-size: 12px;
  border: 5px solid rgb(255, 183, 0);
  border-radius: 10px;
}

.inspiration {
  padding-left: 60px;
  padding-top: 40px;
  background-color: rgb(247, 247, 247);
}

.inspiration-header {
  font-size: large;
  font-weight: 700;
}

.inspiration-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  padding-left: 0;
  margin-left: 0;
}

.inspiration-item {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d1d3;
  margin-right: 20px;
  background-color: white;
  display: flex;
  width: 323px;
  height: 338px;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.inspiration-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  object-fit: cover;
}

footer {
  background-color: #282c34;
}

.offer-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.result-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.results-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 10px;
  margin-left: 10px;
  min-height: 300px;
  gap: 10px;
}

.offers-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 50px;
  min-height: 300px;
  gap: 10px;
}

p {
  margin-right: 5px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.offer-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.vertical {
  background-color: rgb(39, 89, 163);
  color: white;
  align-self: center;
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 50px;
  margin-bottom: 10px;
}

.ship-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.ship-details {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flight-info {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20;
}

.operator-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.results {
  margin: 10vh;
}
label {
  color: white;
  margin-right: 5px;
  font-size: 12px;
}

.order-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
  overflow: auto;
}

.esim-order-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
  overflow: auto;
}

.passenger-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
  width: 80%;
  max-width: 700px;
  height: auto;
  padding: 30px;
  padding-bottom: 50px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: #282c34 5px solid;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1000;
  border-radius: 8px;
  overflow: auto;
}

.intermediate-travel-points {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
  z-index: 1000;
  padding: 20px;
  border-radius: 8px;
  border: #282c34 2px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

thead tr {
  color: black;
  text-align: left;
  font-weight: bold;
  background-color: #d5d5d5;
}

tr {
  cursor: pointer;
}

tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

th,
td {
  padding: 12px 15px;
}

.booking-form {
  min-height: 100px;
  padding: 40px;
  margin: 20px;
  background-color: #ffff;
  border: #b2b2b2 1px solid;
  border-radius: 12px;
}

.booking-response {
  min-height: 100px;
  padding: 40px;
  margin: 20px;
  background-color: #ffff;
  border: #b2b2b2 1px solid;
  border-radius: 12px;
}

.driver-locations {
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
  border-bottom: none;
}

.location-search {
  margin-left: 20px;
}

.location-item {
  margin-left: 20px;
}
.order-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
  width: 80%;
  max-width: 700px;
  height: auto;
  padding: 30px;
  padding-bottom: 50px;
  color: white;
  background-color: rgb(0, 59, 149);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: #282c34 5px solid;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1000;
  border-radius: 8px;
  overflow: auto;
}

.duration {
  color: #626971;
  font-size: 0.75rem;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}

.total-amount {
  color: #626971;
  font-size: 1.25rem;
  color: #161616;
  border: none;
  font-weight: 400;
  line-height: 1.75rem;
  margin-left: 50px;
  margin-right: 30px;
}

.operator-name {
  color: #626971;
  font-size: 0.75rem;
  border: none;
  margin-left: 30px;
  margin-right: 50px;
}

.origin-name {
  color: #626971;
  font-size: 1rem;
  border: none;
}

.destination-name {
  color: #626971;
  font-size: 1rem;
  border: none;
}

.departing-at {
  color: #626971;
  font-size: 1.5rem;
  border: none;
  margin-bottom: 0px;
}

.arriving-at {
  color: #626971;
  font-size: 1.5rem;
  border: none;
  text-align: end;
}

.offer-item {
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 #25201f4d;
  transition: opacity 0.2s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 99vw;
}

.select-button {
  padding: 1.1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 1rem;
  background-color: #05203c;
  margin-top: 0.25rem;
  height: 2.25rem;
  padding: 0.375rem 1rem;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
  margin-right: 30px;
}

.select-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 50vw;
  height: 50vh;
  text-align: center;
}

.select-modal p {
  margin: 10px;
  border: none;
  text-align: left;
}

.select-modal button {
  margin-top: 40px;
  padding: 0px 40px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.select-modal button:hover {
  background-color: #0056b3;
}

.search-response-item {
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 #25201f4d;
  transition: opacity 0.2s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: fit-content;
  min-width: 99vw;
}

.vehicle-image {
  width: 400px;
}

.booking-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.booking-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.offer-information {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}